<%# Copyright 2019, Ryan Sise

This file is part of PackList Pandemonium.

PackList Pandemonium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PackList Pandemonium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PackList Pandemonium.  If not, see <https://www.gnu.org/licenses/>. %>

<h1><center>Edit <%=@list.name%>!</center></h1>
<br>
<br>
<br>
<a href='/home'>Return Home</a>
<br>
<br>
<br>
<form action='/list/<%=@list.id%>/edit' method='post'>
  <input type='hidden' id='hidden' name='_method' value='PATCH'>
  <p>========General========</p>
  <ul>
    <%@general.each do |item|%>
      <li><input type='checkbox' name='item[<%=item%>]' <%='checked' if @lists.include?(item)%>> <%=item.gsub(/_/,' ').capitalize!%></li>
    <%end%>
  </ul>
  <br>
  <p>========Electronics========</p>
  <ul>
    <%@electronics.each do |item|%>
      <li><input type='checkbox' name='item[<%=item%>]'<%='checked' if @lists.include?(item)%>><%=item.gsub(/_/,' ').capitalize!%></li>
    <%end%>
  </ul>
  <br>
  <p>========Camping========</p>
  <ul>
    <%@camping.each do |item|%>
      <li><input type='checkbox' name='item[<%=item%>]'<%='checked' if @lists.include?(item)%>><%=item.gsub(/_/,' ').capitalize!%></li>
    <%end%>
  </ul>
  <br>
  <p>========Toiletries========</p>
  <ul>
    <%@toiletries.each do |item|%>
      <li><input type='checkbox' name='item[<%=item%>]'<%='checked' if @lists.include?(item)%>><%=item.gsub(/_/,' ').capitalize!%></li>
    <%end%>
  </ul>
  <br>
  <p>========Clothing========</p>
  <ul>
    <%@clothing.each do |item|%>
      <li><input type='checkbox' name='item[<%=item%>]'<%='checked' if @lists.include?(item)%>><%=item.gsub(/_/,' ').capitalize!%></li>
    <%end%>
  </ul>
  <br>
  <input type='submit' value='Update List'>
</form>